*{
    -dark-purple: #46109C;
    -light-purple: #7D4CDB;
    -skin-tone: #E1CDB5;
    -aqua-blue: #06AED5;
    -light-blue: #32CBED;
}

.button {
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(to right, -aqua-blue, cornflowerblue);
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3) , 10, 0.4, 0.0, 3.0);
}

.button:hover {
    -fx-background-color: -light-blue;
    -fx-effect: dropshadow(gaussian,white , 10, 0.4, 0.0, 0.0);
}

.button:pressed {
    -fx-background-color: lightblue;
}

.text {
    -fx-fill: white;
    -fx-font: bold 12px "Tohama";
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.1) , 3, 0.4, 0.0, 2);
}

.border-pane {
    -fx-background-color: linear-gradient(to right, -light-purple, -dark-purple);;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3) , 10, 0.4, 0.0, 3.0);
}

.list-view {
    -fx-background-radius: 5;
}

.list-view .cell {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.list-view .cell .text {
    -fx-fill: -dark-purple;
    -fx-font: bold 12px "Tohama";
}

.list-view .cell:selected {
    -fx-background-color: -skin-tone;
}

.list-view .scroll-bar {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: -dark-purple;
}

HBox, VBox {
    -fx-text-fill: white;
    -fx-font: bold 12px "Tohama";
}

Text {
    -fx-fill: white;
    -fx-font: bold 15px "Tohama";
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.15) , 3, 0.4, 0.0, 2);
}

TextArea {
    -fx-text-fill: -dark-purple;
    -fx-font: bold 12px "Tohama";
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3) , 10, 0.4, 0.0, 3.0);
}

TextField {
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.3) , 10, 0.4, 0.0, 3.0);
}

.pane {
    -fx-background-color: linear-gradient(#0d022a, -dark-purple);
}

